<div class="row">
    <div class="col-md-12">
        <h1>Unit <span>Form</span></h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12 mb-5">
        <div class="t-basic-form t-form">
            <form [formGroup]="unitForm">
                <div class="row">
                    <div class="col-md-12">
                        <!-- <mat-card class="t-card">
                            <mat-card-header class="mb-2">
                                <mat-card-subtitle>Category Picture</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="profile" (click)="avatarClassicInput.click()">
                                            <p *ngIf="!avaterPreview">Image</p>
                                            <input type="hidden" formControlName="picture" />
                                            <img class="img-thumbnail" [src]="avaterPreview" *ngIf="!!avaterPreview" alt="">
                                            <input type="file" hidden #avatarClassicInput
                                                (change)="uploadFileAttach($event)">
                                        </div>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card> -->

                        <mat-card class="t-card">
                            <mat-card-header class="mb-3">
                                <mat-card-subtitle>Unit Information</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="t-full-width">
                                            <mat-label>
                                                Unit Name
                                                <span class="required">*</span>
                                            </mat-label>
                                            <input matInput formControlName="unitName"
                                                placeholder="Enter Unit Name" />
                                            <mat-error
                                                *ngIf="unitForm.controls['unitName'].hasError('required')">
                                                Unit Name is <strong>required</strong>
                                            </mat-error>
                                            <mat-error
                                                *ngIf="unitForm.controls['unitName'].hasError('maxlength')">
                                                Unit Name max length is <strong>20</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <!-- <div class="col-md-6">
                                        <mat-form-field class="t-full-width">
                                            <mat-label> Category Code </mat-label>
                                            <input matInput formControlName="categoryCode"
                                                placeholder="Enter Your Acount Name" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="t-full-width">
                                            <mat-label> Description </mat-label>
                                            <textarea matInput formControlName="description" rows="3"
                                                placeholder="Write about category........."></textarea>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-checkbox  formControlName="cancel"  color="primary">Cancel</mat-checkbox>
                                    </div> -->
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-3">
                        <button class="t-mat-raised-button mr-2" mat-stroked-button (click)="reset()">Reset</button>
                        <button class="t-mat-raised-button mr-2" mat-stroked-button (click)="clearUnit()">clear</button>
                        <button mat-stroked-button color="primary" (click)="save()" class="t-mat-raised-button">
                            <mat-icon>{{ isEdit ? "update" : "add" }}</mat-icon>
                            {{ isEdit ? "Update" : "Add" }}
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
