<div class="row">
    <div class="col-md-12">
        <div class="t-basic-form t-form">
            <form [formGroup]="cityForm">
                <div class="row">
                    <div class="col-md-12">
                        <mat-card class="t-card">
                            <mat-card-header>
                                <mat-card-subtitle>City Information</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="t-full-width">
                                            <mat-label>
                                                City Name
                                                <span class="required">*</span>
                                            </mat-label>
                                            <input matInput formControlName="name"
                                                placeholder="Enter City Name" />
                                            <mat-error
                                                *ngIf="cityForm.controls['name'].hasError('required')">
                                                City Name is <strong>required</strong>
                                            </mat-error>
                                            <mat-error
                                                *ngIf="cityForm.controls['name'].hasError('maxlength')">
                                                City Name max length is <strong>20</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="t-full-width">
                                          <mat-label> State </mat-label>
                                          <mat-select formControlName="stateId">
                                            <mat-form-field class="t-full-width">
                                              <input matInput placeholder="Search States" autocomplete="off"
                                                (keyup)="onStateFilter($event)" (keydown)="$event.stopPropagation()" />
                                            </mat-form-field>
                                            <mat-option *ngFor="let state of filteredStates | slice: 0:10" [value]="state.id">
                                              <small>
                                                {{ state.name }}
                                              </small>
                                            </mat-option>
                                          </mat-select>
                                        </mat-form-field>
                                      </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-3">
                        <button class="t-mat-raised-button mr-2" mat-stroked-button (click)="reset()">Reset</button>
                        <button class="t-mat-raised-button mr-2" mat-stroked-button (click)="clearCity()">clear</button>
                        <button mat-stroked-button color="primary" (click)="save()" class="t-mat-raised-button">
                            <mat-icon>{{ isEdit ? "update" : "add" }}</mat-icon>
                            {{ isEdit ? "Update" : "Add" }}
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>